security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    
    role_hierarchy:
        ROLE_ADMIN: ROLE_USER

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern: ^/api/auth
            stateless: true
            json_login:
                check_path: /api/auth
                username_path: email   
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/api
            stateless: true
            jwt: ~

        main:
            lazy: true
            provider: app_user_provider

    access_control:
    # PUBLIC — création de compte
    - { path: ^/api/user$, roles: PUBLIC_ACCESS, methods: [POST] }

    # PUBLIC — récupération du token
    - { path: ^/api/auth$, roles: PUBLIC_ACCESS, methods: [POST] }

    # ADMIN — écriture conseils
    - { path: ^/api/advices, roles: ROLE_ADMIN, methods: [POST, PUT, DELETE] }

    # AUTH — tout le reste de l’API
    - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }


